.elements {
  padding: 47px 100px 67px;
}

@media screen and (max-width: 1000px) {
  .elements {
     padding: 47px 50px 67px; 
  }
}

@media screen and (max-width: 500px) {
  .elements {
     padding: 36px 19px 48px; 
  }
}