.header__logo {
  max-width: 142px;
  max-height: 33px;
  margin-bottom: 41px;
  transition: 1s;
}

.header__logo:hover {
  opacity: 0.01;
}

@media screen and (max-width: 1000px) {
  .header__logo {
    max-width: 103.74px;
    max-height: 24.4px;
    margin-bottom: 31.6px;
    margin-left: 27px;
  }
}
