.profile__edit-btn {
  width: 24px;
  height: 24px;
  padding: 12px;
  box-sizing: border-box;
  display: inline-flex;

  border: 1px solid #ffffff;
  background-image: url(../../../images/icon-edit.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 1000px) {
  .profile__edit-btn {
    width: 18px;
    height: 18px;
    padding: 9px;
  }
}
