.elements__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  max-width: 880px;

  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-auto-rows: 361px;
  gap: 20px 17px;

  justify-content: center;
}
