.login-form__input {
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: #fff;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 13px 5px;
  margin-bottom: 30px;
  outline: none;
}

.login-form__input::placeholder {
  font-size: 14px;
  line-height: 1.2;
  color: #ccc;
}
