.profile {
  padding: 36px 200px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .profile {
    flex-direction: column;
    padding: 36px 19px 0;
  }
}
